@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fontpadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonttitulos: 'Passion One', cursive;
    --fontconteudo: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fontpadrao);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonttitulos);
    font-size: 8vw;
}

header > p{
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fontconteudo);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(50, 47, 47);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.47) ;
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.512);
    padding: 7px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.517);
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: center right;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 2vw;
}